whitenoise
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
certifi
cffi
charset-normalizer
colorama
contourpy
cryptography
cycler
distro
Django==5.2.3
ezdxf
fonttools
fpdf
frozenlist
google-ai-generativelanguage
google-api-core[grpc]
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
groq
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
jiter
kiwisolver
lxml
matplotlib
multidict
numpy
openai
packaging
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
python-docx
python-dotenv
razorpay
reportlab
requests
rsa
scipy
shapely
six
sniffio
sqlparse
tenacity
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
websockets
yarl
